<footer>
  <img src="assets/logo.gif" alt="Leaf Logo"> 
  <p>
    &copy;2023 Villager’s Vibe Emporium. All rights reserved. <br>
    California State University Monterey Bay <br>
    Andi Cameron, Nathan Simpson, Severin Light
  </p>
  <script src="/js/script.js"></script>
</footer>